body {
    background-color: #e1f4f3;
    text-align: right;
    background-image: fixed;
    
}
head {
    background-color: #e1f4f3;
    text-align: right;
    
}




.col-sm-3{
    text-align:right;
    
}